<!DOCTYPE html>
<html>
<head>
    <title>VidyaPath</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar">
    <div class="logo">📘 VidyaPath</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/profile">Profile</a>
        <a href="/admin">Admin</a>
    </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>